<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Eha order confirmation</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<div style="background-color: #eaeaea">


 <center>   <img src="https://image.ibb.co/dJDKE9/eha_image.png" style="display: block; background-color: #eaeaea " /></center> 
 <br></br>
 <p><b>Hello </b> <b th:text=${customerName}></b></p>
Thank you for your order. We will send a confirmation when your order ships. <br></br>
Your order will be sent to: <br></br>
<table border = "1" cellpadding="0" cellspacing="0" width="300">
 <tr>
 <td>
 <span th:text="${customerName}"></span> <br></br>
  <span th:text=${address.addressline1}> </span> <br></br>
 <span th:text=${address.addressline2}> </span><br />
 <span th:text=${address.addressline3}> </span><br />
 <span th:text=${address.city}> </span>,
 <span th:text=${address.state}> </span><br />
 Pin Code:<span th:text=${address.pincode}> </span>
 </td>
 </tr>
</table> <br></br>
Order Details <br></br>
<hr></hr>
<table  bgcolor="#eaeaea"   align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
    <th>Sl.no. </th>
    <th>Product image</th>
    <th>Product name </th>
    <th>Amount </th>
    </tr>
    <tr th:each="str,iterStat : ${name}" bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
       <td><p th:text="${iterStat.index+1}"></p></td>
        <td align = "center">
            <img th:src=${str.productImagePath} style="height: 120px; width: 120px"/>
        </td>
        <td ><p th:text=${str.productName}></p></td>
        <td><p th:text=${str.productAmount}></p></td>
    </tr>
    
    <tr>
     <td colspan="3" align = "right"><b>Order Total: </b> </td>
     <td><p th:text=${total}></p></td>
    </tr>
</table>

</div>


</body>
</html>