<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body  style="margin: 0; padding: 0;">


<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#eaeaea" style="padding: 40px 0 30px 0;">
            <img src="https://image.ibb.co/dJDKE9/eha_image.png" style="display: block;" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
	

 			<p><b>Hello</b> <b th:text="${name}"></b></p>
 
  			<h2 style="color:#C2482E; "><b><u>Don't worry, we all forget sometimes  </u></b></h2>
  
   			<p>We received a request to reset the password for your account.</p>
   			 <p>If you requested this password change, please reset your password here:</p>
    
    	
    		<center>
  				 
 					<a th:href="${signature}"><button  style="background-color: #4d0000; width: 364px; height: 37px; align-content:center;"><font size="4" color="white">RESET PASSWORD</font></button></a>
 
  			</center>
  		</td>
  	</tr>
  	
  	<!-- <tr>
  		<td align="center" bgcolor="#eaeaea" style="color:#a51821;font-family:helvetica;font-size:15px;letter-spacing:0.2px;border-collapse:collapse;vertical-align:middle;padding:0;margin:0">
					  <span class="m_-561802014366588461f-followus" style="line-height:2;vertical-align:top"> Follow Us On </span>   
					  <a href="http://ftrans1.ftrans03.com/rdz?id=20817=cUtSCARSDwgDSQRUUlQEAQYACBg=G1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ==&amp;fl=WkMWSEVYGBZDQkNKBAVXVFRfVw9MVAxYF30DCggPMQpeXBE=" style="color:#4d0000;line-height:2" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ftrans1.ftrans03.com/rdz?id%3D20817%3DcUtSCARSDwgDSQRUUlQEAQYACBg%3DG1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ%3D%3D%26fl%3DWkMWSEVYGBZDQkNKBAVXVFRfVw9MVAxYF30DCggPMQpeXBE%3D&amp;source=gmail&amp;ust=1540460516844000&amp;usg=AFQjCNFiLW_ptlo_SbwxpgIdi0zyJKDCTw"><img src="https://ci4.googleusercontent.com/proxy/cEvlmE7A2AuKKb6A03czWuRIKaSsKi0fJ3bosSfDdWxWwDIw5QRMlMWd86W7MolTXW4sP9y02Sf39KfXGq9y=s0-d-e1-ft#http://www.google.com/media/wysiwyg/fb.png" alt="" class="CToWUd"></a>
					  <a href="http://ftrans1.ftrans03.com/rdz?id=20817=cUtSCARSDwgDSQRUUlQEAQYACBg=G1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ==&amp;fl=WkMWSEVYGBZAQl0QFgFGH1VfVUssVg9ZUWALCg8=" style="color:#4d0000;line-height:2" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ftrans1.ftrans03.com/rdz?id%3D20817%3DcUtSCARSDwgDSQRUUlQEAQYACBg%3DG1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ%3D%3D%26fl%3DWkMWSEVYGBZAQl0QFgFGH1VfVUssVg9ZUWALCg8%3D&amp;source=gmail&amp;ust=1540460516844000&amp;usg=AFQjCNEB9H9eyBI-XksvlBMgNU0dlEP-BQ"><img src="https://ci6.googleusercontent.com/proxy/Fzp_zD51bbAM2F67QO1NopJshPFwlNRbc6NA_ayTZrcxTEhkU9zzzC3978Hj9HM0k0-Y4MPWM1FQTrL46CSa=s0-d-e1-ft#http://www.nalli.com/media/wysiwyg/tw.png" alt="" class="CToWUd"></a>
					  <a href="http://ftrans1.ftrans03.com/rdz?id=20817=cUtSCARSDwgDSQRUUlQEAQYACBg=G1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ==&amp;fl=WkMWSEVYGBZEWUEXTANbXlFcXUoBWA4aE30DCggP" style="color:#4d0000;line-height:2" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ftrans1.ftrans03.com/rdz?id%3D20817%3DcUtSCARSDwgDSQRUUlQEAQYACBg%3DG1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ%3D%3D%26fl%3DWkMWSEVYGBZEWUEXTANbXlFcXUoBWA4aE30DCggP&amp;source=gmail&amp;ust=1540460516844000&amp;usg=AFQjCNENW4c04JOSqDz2-oxMPayaXv9htg"><img src="https://ci3.googleusercontent.com/proxy/_b8u-64_q_Sh4c9OVQb6PfmUe9ZVZ1YWHulEu1Nkjd__h4ijM92mV07899Bq5FKVyazk0oqS_hG6ZK2z8iTm=s0-d-e1-ft#http://www.nalli.com/media/wysiwyg/gp.png" alt="" class="CToWUd"></a>
					  <a href="http://ftrans1.ftrans03.com/rdz?id=20817=cUtSCARSDwgDSQRUUlQEAQYACBg=G1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ==&amp;fl=WkMWSEVYGBZdWxoUCwpAVERVSxBMVAxYF30DCggPMQpeXBEX" style="color:#4d0000;line-height:2" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ftrans1.ftrans03.com/rdz?id%3D20817%3DcUtSCARSDwgDSQRUUlQEAQYACBg%3DG1INQF9GAAcIB0wLU0ULeFEPVlBYG1cLDxgFBAUJDVBTD1MDDgdRUlxRUQ%3D%3D%26fl%3DWkMWSEVYGBZdWxoUCwpAVERVSxBMVAxYF30DCggPMQpeXBEX&amp;source=gmail&amp;ust=1540460516844000&amp;usg=AFQjCNEswjpJXRxzcGiunRckg1SF0haggQ"><img src="https://ci3.googleusercontent.com/proxy/TBtWtv45f1Rdk6MKNP6x8ZJDQKT7rNDC8xME5WORxf99EK0wfDRd9xJqVT_9Sf54AixuVcLNe7AP0O2vfX2ZLg=s0-d-e1-ft#http://www.nalli.com/media/wysiwyg/pin.png" alt="" class="CToWUd"></a>
		</td>
	</tr> -->
  	
  	</table>



</body>
</html>